
        *{
        margin: 0;
        padding: 0;

        }
    body{
        overflow-x: hidden;
        z-index: 2;
       /* background: linear-gradient( rgb(147, 175, 22) , rgba(3, 210, 218, 0.933));*/
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    a {
        text-decoration: none;
        color: rgb(252, 252, 252);
    }
    header{
        color:black;    
        display: flex;
      /*  background: #dbd5d5;*/
        justify-content: space-between;
        padding:20px;
        /*position: sticky;
        top:0;*/
        z-index:10000;
        
    }
    .logo {
        font-size: 30px;
        
       display: inline;
        padding-right: 15px;
        color: #000;
        padding-left: 15px;
      /*  background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(8, 193, 240));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
    }
    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
       list-style:none;
    }
header ul li {
    margin-right: 30px;
    transition: .3s;
}
header ul li:hover{
    transform: scale(1.1);
}
header ul li a{
    padding: 20px;
    border-radius: 30px;
    color: black;
    transition: .5s;
}

header ul li a:hover, .active{
    background: rgb(65, 167, 167);
    color: rgb(255, 255, 255);
    font-weight: bold;

}
header div img{
    display: inline;

    height: 50px;
}
header div {
    display: flex;
    gap:0px;
}
.social{
    border-left: #000;
    border-width: 20;
    border-style: inset;
    padding: 10px;
    background-color: #bbb;

}
.social li a{
    padding: 5px;
    border-radius: 20px;
    transition: .5s;
}
.social li a:hover{
    background-color: #000;
    color: #ffff;
    font-weight: bold;
}

.welcome .x{
    height: 350px;

}
.welcome .img{
    overflow: hidden;
    height: 300px;
    animation-name: motion;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding-right: 200px;
}
@keyframes motion {
    from{
        transform: translateY(120px);
    }
    to{
        transform: translateY(20px);
    }
}
header .img {
    height: 40px;
    overflow: hidden;
}   
.welcome{
    padding-bottom: 105px;
    background-color: rgb(255, 255, 255);
    height:600px;
    position: relative;
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
    z-index:-10
}
.welcome::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:  rgb(65, 167, 167);
    z-index: -9;
    transform:skew(-80deg);
    transform-origin: top right ;
}
.welcome div p{
    letter-spacing: 1.2px;
  font-size: 30px;
    width: 600px;
    padding-top: 40px;
    color:rgb(94, 98, 105);
}
.welcome div h1 {
    font-size: 70px;
    color:white
}
.welcome .h{
    position: absolute;
    bottom:-55px;
    right:0;
    z-index:1;
    transform: scale(2);
    height:260px;
    padding-bottom:0px ;
}

.welcome div{
    padding-left: 200px;

}
.welcome p {
    text-align: end;
}
.contaner{
display: flex;
justify-content: center;
gap:30px;
padding: 150px;
flex-wrap: wrap;
}
.contaner div{
    background-color: rgb(0, 0, 0);
    width:300px;
    height: 280px;
    transition: 0.4s;
    border-radius: 10px;
}
.contaner div .first {
    max-height: 200px;
    max-width: 300px;
    width: 300px;
}
.contaner div:hover {
    transform:scale(1.1);

}
.contaner div p {
   
    padding-left: 45%;
}
.contaner div p a {
    text-align: center;
 font-size: 20PX;
}





.footer{
    background-color: #000000;
    padding: 70px 0;
}
.contaner1 {
    max-width: 1400px;
 
    margin: auto;
}
ul{
    list-style: none;
}
.row {
    display: flex;
    justify-content: space-between;
}
footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin: 30px;
    font-weight: 500    ;   
    position: relative;
}
/*.footer-col ::before{
    content: ' ';
    position: absolute;
    left: 50% ; 
    transform: translatex(-50%);
    bottom: -10px ;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}*/











.footer-col ul li :not(:last-child){
    margin-bottom: 20px;
}
.footer-col ul .us{
width: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 8px;
}
.footer-col ul li {
    padding: 2px;
    text-align: center;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgpa(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
       color: #ffff;
       transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffff;
}

@media(max-width: 767px){
    .footer-col {
        width:50%;
          margin-bottom: 30px;  
    }
}
@media(max-width: 574px){
    .footer-col {
        width:100%;
            
    }
}








.waviy {
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;

  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: rgb(48, 42, 42);
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
    
}
.waviy{
      transition: all 1s ease;
    width: 200px;
  margin-left: 900px;
  color: #bbb;
  padding: 15px;
  margin-top:50px ;
  }
  



  .waviy:hover {
    background-color:rgb(65, 167, 167);
    border-radius: 400px;
    display: flex;
    justify-content: center;

  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .us li a{
    text-align: end;
  }
  .footer-col h4 {
    text-align: center;
  }


  .slidercontaner {
    overflow: hidden;
    margin: 20px auto;
    position: relative;
    width: 2000px;
    height: 800px; 

  }








  .slidercontaner img {
    position: absolute;
    opacity: 0; 
    z-index: 1 ;
    width: 2000px;
    height: 800px;
    transition: .5s;

  }
  .slidercontaner img.active{
    opacity: 1;
  }
  .slidercontrols {

    margin: auto;
    width: 1800px;

  }
  .prev , .next  {
background-color:#000;
color: #ffff;
text-align: center;
padding: 5px;
cursor: pointer;
width: 20% ;
  }
  .prev{
       float: left; 
  }
  .next{
    float: right;
      
  }
.next.disable  , .prev.disable{
    opacity: .4;
    cursor: no-drop;
}
.num {
    width: 55%;
    float: left;















}
.num ul {
    margin: 0 ;
    list-style: none;
    text-align: center;

}

.num ul li{
    display: inline-block;
    background-color: #bbb;
    color: #000;
    height: 28px;
    width: 28px;
    cursor: pointer; 
margin: 0 3px;


}

.num ul li.active{
    background-color: #24262b;
    color: #ffff;
}
.slidercontrols {
    margin-bottom: 50px;        
}       

.slider1 { 
padding-top: 0px;
padding-bottom: 100px;


}